.form{
    background-color: #f1e9e9
;
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.form p{
    font-size: 40px;
}
.inputs-form{
    padding: 3rem;
    font-size: 20px;
    text-transform: uppercase;
}
.boton-form{
    border-radius: 5px;
    font-size: 20px;
}

