.form{

    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.form p{
    font-size: 40px;
}
.inputs-form{
    padding: 3rem;
    font-size: 20px;
    text-transform: uppercase;
}
.boton-form{
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    height: 30px;
    width: 5rem;
    font-family:'Times New Roman', Times, serif;
}

