.productsContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    align-items: center;
    justify-content: center;
    flex: 1;
    overflow: hidden;
    gap: 0.2rem;
    background-color: #f1e9e9

}

.productsContainerBusqueda{
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    
    justify-content: center;
    background: rgb(184,193,238);
    background: radial-gradient(circle, rgba(184,193,238,1) 0%, rgba(242,232,234,1) 100%);
}