.inputs{
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    padding: 10px;
    gap: 10px;
    min-width: 400px;
}
.checkout{
    background: rgb(184,193,238);
    background: radial-gradient(circle, rgba(184,193,238,1) 0%, rgba(242,232,234,1) 100%);
    display: flex;
    overflow:auto;
}
.checkOutContainer{
    background-color: #f1e9e9;

}

.linkVolverInicio{
    color: inherit;
    text-decoration: none;
    font-size: 2rem;
    
}
.imagenCompraFinalizada{
    max-width: 50rem;
}
.compraFinalizadaContainer{
    text-align: center;
    
}

@media screen and (max-width: 500px) {

    .inputs{
        max-width: 300px;
        min-width: 100px;

    }
    .imagenCompraFinalizada{
        width: 300px;
    }
}