

.contenedor-footer{
    padding:0px 70px 0px 80px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* background-color: #f1e9e9; */
    background-color: #202020;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#FF9800;

}

.contenedor-lista {
    display: flex;
    justify-content: center;
    height: 4rem;
    gap: 30px;
    list-style: none;
    padding: 10px;
    color:#0b2a2a;

}

.contenedor-lista li a{
    color: inherit;
    text-decoration: none;
    color:#FF9800;

}
