* {
  padding: 0;
  margin: 0;

}

.cantidadElementosCarrito {
  color: white;
}

.saludo {
  color: rgb(239, 144, 158);
  font-family: 'Rock 3D', cursive;
  background-color: black;
}

.navbar-brand {
  font-family: 'Comforter', cursive;
  font-size: 45px;
}